<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>

<ul id="messages"></ul>
 <div>Name: <input id="name" type="text" name="name"></div>
 <div><button id="addBtn">Add</button></div>