<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cake</title>

		<!-- 
			layout for handlebars templating
			utilize bootstrap and related code; utilize base.css
		 -->
	</head>
	<body>
		
		{{{body}}}

	</body>
</html>